*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.myform{
    display: flex;
    flex-direction: column;
    width: 420px;   
    height: 426px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 22px rgb(215, 215, 215);
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content{
    width: 85%;
    height: 48px;
    font-family: "Roboto","Arial", sans-serif;
    padding: 8px;
}

.content:nth-child(2){
    border: 2px solid #FFE44D;
    border-radius: 12px;
    margin: 8px;
}

.content:nth-child(3){
    border: 2px solid #CFD8DC;
    border-radius: 12px;
}

.content:nth-child(4){
    margin: 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #7B8E98;
    padding: 0;
}

.content:nth-child(5){
    border: 2px solid #FFE44D;
    border-radius: 55px;
    background-color: #FFE44D;
    font-size: 16px;
    font-weight: 800;
}

.content:nth-child(6){
    border: 2px solid #CFD8DC;
    border-radius: 55px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin: 8px;
}

h1 {
    size: 28px;
    font-weight: 800;
}

button:last-child{
    background-color: rgb(248, 248, 248);
    width: 22px;
    height: 22px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
}